<div class="sidebar-menu toggle-others fixed">
			
			<div class="sidebar-menu-inner">	
				
				<header class="logo-env">
					
					<!-- logo -->
					<div class="logo">
						<a href="dashboard-1.html" class="logo-expanded">
							 <?php resou_img('logo@2x.png','width="80"');?>
						</a>
						
						<a href="dashboard-1.html" class="logo-collapsed">
							<?php resou_img('logo-collapsed@2x.png','width="80"');?>
						</a>
					</div>
					
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>			
				</header>
						
				<ul id="main-menu" class="main-menu">		
				   <!-- class="opened active" -->			
					<li>
						<a href="layout-variants.html">
							<i class="linecons-desktop"></i>
							<span class="title">Layouts</span>
						</a>
						<ul>
							<li>
								<a href="#">
									<span class="title">Layout Variants &amp; API</span>
								</a>
							</li>
						</ul>
					</li>
				
					<li>
						<a href="ui-widgets.html">
							<i class="linecons-star"></i>
							<span class="title">Widgets</span>
						</a>
					</li>
				</ul>	
			</div>
</div>


<!--
<li>
	<a href="#">
		<i class="linecons-beaker"></i>
		<span class="title">Extra</span>
		<span class="label label-purple pull-right hidden-collapsed">New Items</span>
	</a>
	<ul>
		<li>
			<a href="extra-icons-fontawesome.html">
				<span class="title">Icons</span>
				<span class="label label-warning pull-right">4</span>
			</a>
			<ul>
				<li>
					<a href="extra-icons-meteocons.html">
						<span class="title">Meteocons</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</li>-->
