<!-- User Info, Notifications and Menu Bar -->
<nav class="navbar user-info-navbar" role="navigation">
	
	<!-- Left links for user info navbar -->
	<ul class="user-info-menu left-links list-inline list-unstyled">
		
		<li class="hidden-sm hidden-xs">
			<a href="#" data-toggle="sidebar">
				<i class="fa-bars"></i>
			</a>
		</li>
		
		<li class="dropdown hover-line">
			<a href="#" data-toggle="dropdown">
				<i class="fa-envelope-o"></i>
				<span class="badge badge-green">15</span>
			</a>
				
			<ul class="dropdown-menu messages">
				<li>
						
					<ul class="dropdown-menu-list list-unstyled ps-scrollbar">
					
						<li class="active"><!-- "active" class means message is unread -->
							<a href="#">
								<span class="line">
									<strong>Luc Chartier</strong>
									<span class="light small">- yesterday</span>
								</span>
								
								<span class="line desc small">
									This ain’t our first item, it is the best of the rest.
								</span>
							</a>
						</li>
						
						<li class="active">
							<a href="#">
								<span class="line">
									<strong>Salma Nyberg</strong>
									<span class="light small">- 2 days ago</span>
								</span>
								
								<span class="line desc small">
									Oh he decisively impression attachment friendship so if everything. 
								</span>
							</a>
						</li>
						
						<li>
							<a href="#">
								<span class="line">
									Hayden Cartwright
									<span class="light small">- a week ago</span>
								</span>
								
								<span class="line desc small">
									Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
								</span>
							</a>
						</li>
						
						<li>
							<a href="#">
								<span class="line">
									Sandra Eberhardt
									<span class="light small">- 16 days ago</span>
								</span>
								
								<span class="line desc small">
									On so attention necessary at by provision otherwise existence direction.
								</span>
							</a>
						</li>
						
						<!-- Repeated -->
						
						<li class="active"><!-- "active" class means message is unread -->
							<a href="#">
								<span class="line">
									<strong>Luc Chartier</strong>
									<span class="light small">- yesterday</span>
								</span>
								
								<span class="line desc small">
									This ain’t our first item, it is the best of the rest.
								</span>
							</a>
						</li>
						
						<li class="active">
							<a href="#">
								<span class="line">
									<strong>Salma Nyberg</strong>
									<span class="light small">- 2 days ago</span>
								</span>
								
								<span class="line desc small">
									Oh he decisively impression attachment friendship so if everything. 
								</span>
							</a>
						</li>
						
						<li>
							<a href="#">
								<span class="line">
									Hayden Cartwright
									<span class="light small">- a week ago</span>
								</span>
								
								<span class="line desc small">
									Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
								</span>
							</a>
						</li>
						
						<li>
							<a href="#">
								<span class="line">
									Sandra Eberhardt
									<span class="light small">- 16 days ago</span>
								</span>
								
								<span class="line desc small">
									On so attention necessary at by provision otherwise existence direction.
								</span>
							</a>
						</li>
						
					</ul>
					
				</li>
				
				<li class="external">
					<a href="blank-sidebar.html">
						<span>All Messages</span>
						<i class="fa-link-ext"></i>
					</a>
				</li>
			</ul>
		</li>
		
	</ul>
	
	
	<!-- Right links for user info navbar-->
	<ul class="user-info-menu right-links list-inline list-unstyled">

		<li class="dropdown user-profile">
			<a href="#" data-toggle="dropdown">
				<?php resou_img('user-4.png',' alt="user-image" class="img-circle img-inline userpic-32" width="28" ');?>
				<span>
					Arlind Nushi
					<i class="fa-angle-down"></i>
				</span>
			</a>
			
			<ul class="dropdown-menu user-profile-menu list-unstyled">
				<li>
					<a href="#edit-profile">
						<i class="fa-edit"></i>
						New Post
					</a>
				</li>
				<li>
					<a href="#settings">
						<i class="fa-wrench"></i>
						Settings
					</a>
				</li>
				<li>
					<a href="#profile">
						<i class="fa-user"></i>
						Profile
					</a>
				</li>
				<li>
					<a href="#help">
						<i class="fa-info"></i>
						Help
					</a>
				</li>
				<li class="last">
					<a href="extra-lockscreen.html">
						<i class="fa-lock"></i>
						Logout
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="#" data-toggle="chat">
				<i class="fa-comments-o"></i>
			</a>
		</li>
		
	</ul>
	 
</nav>